<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="com.eco.bio7.image"
            class="com.eco.bio7.image.CanvasView"
            icon="bin/images/toij.gif"
            id="com.eco.bio7.imagej"
            name="ImageJ-Canvas"/>
      <view
            category="com.eco.bio7.image"
            class="com.eco.bio7.image.thumbs.ThumbnailsView"
            icon="bin/images/bild.gif"
            id="com.eco.bio7.thumbnails"
            name="Thumbnails"/>
      <view
            allowMultiple="true"
            category="com.eco.bio7.image"
            class="com.eco.bio7.image.IJtoolbar"
            icon="bin/images/toij.gif"
            id="com.eco.bio7.ijtoolbar"
            name="ImageJ-Toolbar"/>
   </extension>

</plugin>
