<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="R Markdown Editor"
            extensions="Rmd"
            icon="icons/rmarkdownfile.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.eco.bio7.markdownedit.editors.MarkdownEditor"
            id="com.eco.bio7.markdownedit">
      </editor>
   </extension>

</plugin>
