<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   
   
   
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.eco.bio7.reditors.REditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="R,r"
            icon="icons/rkompilierung.gif"
            id="com.eco.bio7.reditors.TemplateEditor"
            name="Bio7 RScript-Editor">
      </editor>
   </extension>
   <extension
         id="ExampleJavaDocumentSetupParticipant"
         name="%documentSetupParticipantName"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="R,r"
            class="com.eco.bio7.reditors.RDocumentSetupParticipant">
      </participant>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="prefr"
            class="com.eco.bio7.rpreferences.TemplatesPreferencePage"
            id="rpreferencepage"
            name="Template Editor R">
      </page>
      <page
             category="com.eco.bio7.preferences.Bio7PreferencePage"
            class="com.eco.bio7.rpreferences.WorkbenchPreferenceR"
            id="prefr"
            name="Preferences R">
       </page>
      
   </extension>

   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            name="%xml.contextType.name"
            class="com.eco.bio7.rpreferences.template.RContextType"
            id="rscript">
      </contextType>
     
      <include
      		file="templates/ant.xml"
      		translations="$nl$/templates/ant.properties">
      </include>
   </extension>
   
    <extension point="org.eclipse.core.resources.markers"   
        id="debugMarker">
     <super type="org.eclipse.core.resources.textmarker"/>         
     <persistent value="true"/>
  </extension>

  <extension point="org.eclipse.ui.editors.annotationTypes">
     <type
        super="org.eclipse.ui.workbench.texteditor.warning"
        markerType="com.eco.bio7.redit.debugMarker"
        name="com.eco.bio7.redit.debugAnnotation"
        markerSeverity="0"/>
  </extension>

  <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
     <specification
        annotationType="com.eco.bio7.redit.debugAnnotation"
        icon="icons/brkp_obj.gif"
        overviewRulerPreferenceValue="true"
			highlightPreferenceKey="highlight.background"
			highlightPreferenceValue="true"
			colorPreferenceKey="clcolor"
			colorPreferenceValue="0,255,0"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			presentationLayer="0"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
        </specification> 
  </extension>
   

</plugin>
