<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   
   
   
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.eco.bio7.reditors.REditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="R,r"
            icon="icons/rkompilierung.gif"
            id="com.eco.bio7.reditors.TemplateEditor"
            name="Bio7 RScript-Editor">
      </editor>
   </extension>
   <extension
         id="ExampleJavaDocumentSetupParticipant"
         name="%documentSetupParticipantName"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="R,r"
            class="com.eco.bio7.reditors.RDocumentSetupParticipant">
      </participant>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.eco.bio7.R"
            class="com.eco.bio7.rpreferences.TemplatesPreferencePage"
            id="rpreferencepage"
            name="Preferences Editor Templates">
      </page>
      <page
             category="com.eco.bio7.R"
            class="com.eco.bio7.rpreferences.WorkbenchPreferenceR"
            id="prefr"
            name="Preferences Editor">
       </page>
      <page
            category="com.eco.bio7.R"
            class="com.eco.bio7.rpreferences.RCodePreferences"
            id="RCodePreferences"
            name="Preferences Editor Code">
      </page>
      <page
            category="com.eco.bio7.R"
            class="com.eco.bio7.rpreferences.RCodeAnalysisPreferences"
            id="RCodeAnalysisPreferences"
            name="Preferences Editor Code Analysis">
      </page>
      
   </extension>

   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            name="%xml.contextType.name"
            class="com.eco.bio7.rpreferences.template.RContextType"
            id="rscript">
      </contextType>
     
      <include
      		file="templates/ant.xml"
      		translations="$nl$/templates/ant.properties">
      </include>
   </extension>
   
    <extension point="org.eclipse.core.resources.markers"   
        id="debugMarker">
     <super type="org.eclipse.core.resources.textmarker"/>         
     <persistent value="true"/>
  </extension>

  <extension point="org.eclipse.ui.editors.annotationTypes">
     <type
           markerSeverity="0"
           markerType="com.eco.bio7.redit.debugMarker"
           name="com.eco.bio7.redit.debugAnnotation"
           super="org.eclipse.ui.workbench.texteditor.warning"/>
  </extension>

  <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
     <specification
           annotationType="com.eco.bio7.redit.debugAnnotation"
           colorPreferenceKey="clcolor"
           colorPreferenceValue="0,255,0"
           highlightPreferenceKey="highlight.background"
           highlightPreferenceValue="true"
           icon="icons/brkp_obj.gif"
           overviewRulerPreferenceValue="true"
           presentationLayer="0"
           quickFixIcon="icons/brkp_obj.gif"
           textPreferenceKey="cltext"
           textPreferenceValue="true"
           textStylePreferenceKey="clstyle"
           textStylePreferenceValue="BOX"
           verticalRulerPreferenceKey="clvertical"
           verticalRulerPreferenceValue="true">
        </specification> 
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="com.eco.bio7.rpreferences.PreferenceInitializer">
     </initializer>
  </extension>
  <extension point="org.eclipse.ui.elementFactories">
<factory id="org.eclipse.ui.part.FileEditorInputFactory "
class=" org.eclipse.ui.part.FileEditorInputFactory " />
</extension>
<extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="org.eclipse.core.resources.problemmarker"
         class="com.eco.bio7.reditor.code.QuickFixer"/>
   </extension>
<extension
      point="org.eclipse.ui.editors.annotationTypes">
   <type
         markerSeverity="0"
         markerType="org.eclipse.core.resources.problemmarker"
         name="com.eco.bio7.redit.error"
         super="org.eclipse.ui.workbench.texteditor.error">
   </type>
</extension>
<extension
      point="org.eclipse.ui.editors.markerAnnotationSpecification">
   <specification
         annotationType="com.eco.bio7.redit.error"
         colorPreferenceKey="com.eco.bio7.reditor.clcolor"
         colorPreferenceValue="0,255,0"
         contributesToHeader="false"
         highlightPreferenceKey="com.eco.bio7.reditor.highlight.background"
         highlightPreferenceValue="true"
         icon="icons/error_obj.gif"
         includeOnPreferencePage="true"
         label="R Editor Marker"
         overviewRulerPreferenceKey="com.eco.bio7.reditor.overview"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         quickFixIcon="icons/quickfix_error_obj.gif"
         textPreferenceKey="com.eco.bio7.reditor.cltext"
         textPreferenceValue="true"
         textStylePreferenceKey="clstyle"
         textStylePreferenceValue="BOX"
         verticalRulerPreferenceKey="com.eco.bio7.reditor.clvertical"
         verticalRulerPreferenceValue="true">
   </specification>
</extension>
<extension
    id="com.eco.bio7.reditor.wordmarker"
    name="R Editor Word"
    point="org.eclipse.core.resources.markers">
  <super
    type="org.eclipse.core.resources.textmarker">
  </super>
</extension>
<extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="com.eco.bio7.reditor.wordmarker"
            name="com.eco.bio7.reditor.wordmarker">
      </type>
   </extension>

 <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.eco.bio7.reditor.wordmarker"
            colorPreferenceKey="com.eco.bio7.reditor.wordmarker.color"
            colorPreferenceValue="212,212,212"
            contributesToHeader="false"
            highlightPreferenceKey="com.eco.bio7.reditor.wordmarker.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="R Editor Word Marker"
            overviewRulerPreferenceKey="com.eco.bio7.reditor.wordmarker.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="com.eco.bio7.reditor.wordmarker.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="com.eco.bio7.reditor.wordmarker.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   
   <extension
    id="com.eco.bio7.reditor.debugrulermark"
    name="R Editor Word"
    point="org.eclipse.core.resources.markers">
  <super
    type="org.eclipse.core.resources.textmarker">
  </super>
</extension>
<extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="com.eco.bio7.reditor.debugrulermark"
            name="com.eco.bio7.reditor.debugrulermark">
      </type>
   </extension>

 <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.eco.bio7.reditor.debugrulermark"
            colorPreferenceKey="com.eco.bio7.reditor.debugrulermark.color"
            colorPreferenceValue="180,230,180"
            contributesToHeader="false"
            highlightPreferenceKey="com.eco.bio7.reditor.debugrulermark.highlight"
            highlightPreferenceValue="true"
            icon="/icons/occ_match.gif"
            includeOnPreferencePage="true"
            label="R Editor Debug Ruler Marker"
            overviewRulerPreferenceKey="com.eco.bio7.reditor.debugrulermark.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="com.eco.bio7.reditor.debugrulermark.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="com.eco.bio7.reditor.debugrulermark.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>

<extension point="org.eclipse.ui.editorActions">
    <editorContribution
          targetID="com.eco.bio7.reditors.TemplateEditor"
          id="example.rulerActions">
       <action
             label="QuickFix"
             class="com.eco.bio7.reditor.actions.REditorRulerQuickFixAction"
             style="push"
             actionID="RulerClick"
             id="com.eco.bio7.reditor.rulerclick"/>
    </editorContribution>
 </extension>
 <extension point="org.eclipse.ui.popupMenus">
    <!-- put a context menu item into the menu of standard text editors.
         If the properties editor had an own context menu id, we could
         target this more specifically. This way, we must have the
         refactoring itself decide whether the operation can run.
      -->
    <viewerContribution
          id="com.eco.bio7.reditor.refactor.extract.method"
          targetID="#TextEditorContext">
          <menu
               label="Refactor"
               path="additions"
               id="refactor.menu">
            <separator
                  name="refact">
            </separator>
         </menu>
         <menu
               label="R Format"
               path="additions"
               id="format.menu">
            <separator
                  name="format">
            </separator>
         </menu>
       <action
             class="com.eco.bio7.reditor.actions.ExtractMethod"
             definitionId="com.eco.bio7.reditor.refactor.extract.method"
             id="com.eco.bio7.reditor.refactor.extract.meth"
             label="Extract Method"
             menubarPath="refactor.menu/refact">
       </action>
       <action
             class="com.eco.bio7.reditor.actions.ExtractVariable"
             definitionId="com.eco.bio7.reditor.refactor.extract.variable"
             id="com.eco.bio7.reditor.refactor.extract.var"
             label="Extract Variable"
             menubarPath="refactor.menu/refact">
       </action>
       <action
             class="com.eco.bio7.reditor.actions.RFormatAction"
             definitionId="com.eco.bio7.reditor.rserve.format"
             id="com.eco.bio7.reditor.rserve.for"
             label="Format R Source (Rserve)"
             menubarPath="format.menu/format">
       </action>
    </viewerContribution>
  </extension>
 <extension
       id="com.eco.bio7.reditor.refactor.extract.method"
       point="org.eclipse.ui.bindings">
    <key
          commandId="com.eco.bio7.reditor.refactor.extract.method"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+ALT+X">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          description="Extract a Method"
          id="com.eco.bio7.reditor.refactor.extract.method"
          name="Extract Method">
    </command>
 </extension>
 <extension
       id="com.eco.bio7.reditor.refactor.extract.variable"
       point="org.eclipse.ui.bindings">
    <key
          commandId="com.eco.bio7.reditor.refactor.extract.variable"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+ALT+V">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          description="Extract a Variable"
          id="com.eco.bio7.reditor.refactor.extract.variable"
          name="Extract Variable">
    </command>
 </extension>
 
 <extension
       id="com.eco.bio7.reditor.rserve.format"
       point="org.eclipse.ui.bindings">
    <key
          commandId="com.eco.bio7.reditor.rserve.format"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+SHIFT+A">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          description="Format R Source"
          id="com.eco.bio7.reditor.rserve.format"
          name="Format R Source">
    </command>
 </extension>
 
 <extension
       id="com.eco.bio7.reditor.rserve.plot.preferences"
       point="org.eclipse.ui.bindings">
    <key
          commandId="com.eco.bio7.reditor.rserve.plot.preferences"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+SHIFT+P">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          description="R Plot Preferences"
          id="com.eco.bio7.reditor.rserve.plot.preferences"
          name="R Plot Preferences">
    </command>
 </extension>
   

</plugin>
