<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="com.eco.bio7.scenebuilder"
            class="com.eco.bio7.scenebuilder.editor.BrowserView"
            icon="src/pics/logo.gif"
            id="com.eco.bio7.browser.SceneBuilderCanvas"
            name="Canvas"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="com.eco.bio7.scenebuilder"
            class="com.eco.bio7.scenebuilder.HierachyView"
            icon="pics/logo.gif"
            id="com.eco.bio7.scenebuilder.hierachy"
            name="Hierachy"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="com.eco.bio7.scenebuilder"
            class="com.eco.bio7.scenebuilder.LibraryPanelView"
            icon="pics/logo.gif"
            id="com.eco.bio7.scenebuilder.library"
            name="Library"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="com.eco.bio7.scenebuilder"
            class="com.eco.bio7.scenebuilder.InspectorPanelView"
            icon="pics/logo.gif"
            id="com.eco.bio7.scenebuilder.inspector"
            name="Inspector"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="com.eco.bio7.scenebuilder"
            class="com.eco.bio7.scenebuilder.CssView"
            icon="pics/logo.gif"
            id="com.eco.bio7.scenebuilder.css"
            name="Css"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.eco.bio7.scenebuilder.editor.SceneEditorPerspective"
            icon="pics/logo.gif"
            id="com.eco.bio7.browser.SceneBuilderPerspective"
            name="SceneBuilder">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.eco.bio7.scenebuilder.editor.MultiPageEditor"
            default="true"
            extensions="fxml"
            icon="pics/logo.gif"
            id="com.eco.bio7.browser.scenebuilder"
            name="SceneBuilder">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
        locationURI="toolbar:org.eclipse.ui.main.toolbar?after=mainbio7">
     <toolbar
           id="com.eco.bio7.reditor.rexecuteraction"
           label="Editor Actions">
        <command
              commandId="com.eco.bio7.SceneBuilder.ControllerSkeletonAction"
              icon="pics/script.gif"
              id="bio7toolbar.ControllerAction"
              label="Controller"
              style="push">
           <visibleWhen>
                     <with
                         variable="activePartId">
                          <equals
                             value="com.eco.bio7.browser.scenebuilder">
                          </equals>
                     </with>
          </visibleWhen>
        </command>
        
     </toolbar>
  </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command
            description="Generate FXML Controller Class"
            id="com.eco.bio7.SceneBuilder.ControllerSkeletonAction"
            name="Generate Controller Action">
      </command>
   </extension>

</plugin>
