/*Derive all from Modena.css and change some variables!*/
/*@import "com/sun/javafx/scene/control/skin/modena/modena.css";*/

@import "modena.css";
 /*
 Other values can be derived from Modena!
 Increase font size if necessary with:
 .root { 
 
 -fx-font-size: 20px; 
 
 }
*/
 
.html-editor-foreground {
  
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Text-Color.png);
}
.html-editor-background {
   
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Background-Color.png);
}

.html-editor-cut {
	
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Cut.png);
}
.html-editor-copy {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Copy.png);
}
.html-editor-paste {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Paste.png);
}
.html-editor-align-left {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Left.png);
}
.html-editor-align-center {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Center.png);
}
.html-editor-align-right {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Right.png);
}
.html-editor-align-justify {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Justify.png);
}
.html-editor-outdent {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Outdent.png);
}
.html-editor-outdent:dir(rtl) {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Outdent-rtl.png);
}
.html-editor-indent {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Indent.png);
}
.html-editor-indent:dir(rtl) {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Indent-rtl.png);
}
.html-editor-bullets {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Bullets.png);
}
.html-editor-bullets:dir(rtl) {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Bullets-rtl.png);
}
.html-editor-numbers:dir(rtl) {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Numbered-rtl.png);
}
.html-editor-numbers {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Numbered.png);
}
.html-editor-bold {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Bold.png);
}
.html-editor-italic {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Italic.png);
}
.html-editor-underline {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Underline.png);
}
.html-editor-strike {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Strikethrough.png);
}
.html-editor-hr {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/HTMLEditor-Break.png);
}

.custom-color-dialog .transparent-pattern {
    -fx-background-image: url(/com/sun/javafx/scene/control/skin/modena/pattern-transparent.png);
    -fx-background-repeat: repeat;
    -fx-background-size: auto;
}

.dialog-pane > .button-bar > .container > .details-button.more {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/dialog-more-details.png);
}

.dialog-pane > .button-bar > .container > .details-button.less {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/dialog-fewer-details.png);
}

.alert.confirmation.dialog-pane,
.text-input-dialog.dialog-pane,
.choice-dialog.dialog-pane {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/dialog-confirm.png);
}

.alert.information.dialog-pane {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/dialog-information.png);
}

.alert.error.dialog-pane {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/dialog-error.png);
}

.alert.warning.dialog-pane {
    -fx-graphic: url(/com/sun/javafx/scene/control/skin/modena/dialog-warning.png);
}