/*Derive all from Modena.css and change some variables!*/
@import "com/sun/javafx/scene/control/skin/modena/modena.css";
@import "com/sun/javafx/scene/control/skin/modena/modena.css";


.root {
    
    -fx-base: #252525;  
    -fx-background: #252525;
    -fx-control-inner-background: #252525;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background,-2%);
    -fx-background-color: -fx-background;
}
.html-editor-foreground {
  
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-background {
   
    -fx-graphic: derive( -fx-graphic);
}

.html-editor-cut {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-copy {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-paste {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-align-left {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-align-center {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-align-right {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-align-justify {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-outdent {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-indent {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-bullets {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-numbers {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-bold {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-italic {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-underline {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-strike {
    -fx-graphic: derive( -fx-graphic);
}
.html-editor-hr {
    -fx-graphic: derive( -fx-graphic);
} 