name: Continuous Integration
on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Bio7
      uses: actions/checkout@v5

    - name: Set up OpenJDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
        java-package: 'jdk'

    - name: Build with Maven
      run: mvn -f com.eco.bio7.aggregator/pom.xml install --batch-mode --no-transfer-progress
